body {
    background-image: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
}
     
.score-board {
    display: inline-block;
    width: 70%;
   
    margin: 50px 15%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid white;
}
    .icon {
            display: inline-block;
               

    }
    .icon > img {
        display: inline-block;
        height: 70px;
    }
    .score {
        display: inline-block;
        float: right;
        height: 70px;
        background-color: white;
        padding: 10px 20px;
        text-align: center;
        border-radius: 10px;
    }

.game {
    display: inline-block;
    width: 400px;
    margin: 100px calc( 50vw - 200px);
    text-align: center;
    color: white;
    font-weight: bold;

}
.trikampis {
    display: inline-block;
    position: relative;
    width: 100%;
    
}
.apvalumas {
    background-color: white;
    height: 150px;
    padding: 25px;
    border-radius: 50%;
    position: absolute;
  
    
    
}

.paper {
    top: -75px ;
    left: -75px;
    border: 10px solid blue;

}
.rock {

    bottom: -75px ;
    left: calc( 50% - 75px);
    border: 10px solid green;
    

}
.scissors{
    top:  -75px ;
    right: -75px;
    border: 10px solid red;


}
.rules {
    position: absolute;
    bottom: 40px;
    right: 40px;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.kova1 {
    float: left;
    width: 35%;
    
}
 .kova1 >p {
     text-align: center;
    
 }
 .tavoPasirinkimas > img {
    background-color: white;
    width: 70%;
    padding: 25px;
    height: auto;
    border-radius: 50%;
    margin: 30px 15%;
    

 }
.kova2 {
    float: right;
    width: 35%;
}
.kovosApk {
    position: static;
    float: left;
}
.kompoPasirinkimas > img {
    width: 70%;
    cursor: pointer;
    margin: 30px 15%;
    

}
.kompCss {
    position: static;
    background-color: white;
    width: 70%;
    padding: 25px;
    height: auto;
    border-radius: 50%;
    margin: 30px 15%;
}

.play-agan {
    display: inline-block;
    margin-top: 85px;
    padding: 10px 30px;
    color:red ;
    background-color: white;
    border-radius: 10px;
    
}
 .result-style {
     padding-top: 20px;
     font-size: 36px;
}

.pop-rules {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: solid red 1px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    z-index: 10;  
    transform: 200ms ease-in-out;
}
.pop-rules.active {
    transform: translate(-50%, -50%) scale(1);

}
.active {

}
.pop-head > h1 {
    
    padding: 10px 15px;padding: 10px 15px;
    float: left;
    width: 90%;
    height: 60px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 40px;
    padding-left: 5%;
    
}
.close-btn {
    float: right;
    width: 10%;
    font-size: 100% ;
    font-size: 50px;
    text-align: center;
    background-color: wheat;
    cursor: pointer;
    

}
.rules-img {
    display: inline-block;
    width: 100%;
    padding: 30px;
}
.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    pointer-events: none;
    transform: 200ms ease-in-out;

}
.overlay.active {
    opacity: 0.5;
    pointer-events: all;

}
