body {
    background-image: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
}
     
.score-board {
    display: inline-block;
    width: 70%;
   
    margin: 50px 15%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid white;
}
    .icon {
            display: inline-block;
               

    }
    .icon > img {
        display: inline-block;
        height: 70px;
    }
    .score {
        display: inline-block;
        float: right;
        height: 70px;
        background-color: white;
        padding: 10px 20px;
        text-align: center;
        border-radius: 10px;
    }

.game {
    display: inline-block;
    width: 400px;
    margin: 100px calc( 50vw - 200px);
    text-align: center;
    color: white;
    font-weight: bold;

}
.trikampis {
    display: inline-block;
    position: relative;
    width: 100%;
    
}
.apvalumas {
    background-color: white;
    height: 150px;
    padding: 25px;
    border-radius: 50%;
    position: absolute;
  
    
    
}

.paper {
    top:  -75px ;
    right: -75px;
    border: 10px solid red;

}
.rock {
    top: -75px ;
    left: -75px;
    border: 10px solid blue;

}
.scissors{
    bottom: -75px ;
    left: calc( 50% - 75px);
    border: 10px solid green;

}
.rules {
    position: absolute;
    bottom: 40px;
    right: 40px;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.kova1 {
    float: left;
    width: 35%;
    
}
 .kova1 >p {
     text-align: center;
    
 }
 .tavoPasirinkimas > img {
    background-color: white;
    width: 70%;
    padding: 25px;
    height: auto;
    border-radius: 50%;
    margin: 30px 15%;
    

 }
.kova2 {
    float: right;
    width: 35%;
}
.kovosApk {
    position: static;
    float: left;
}
.kompoPasirinkimas > img {
    width: 70%;
    cursor: pointer;
    margin: 30px 15%;
    

}
.kompCss {
    position: static;
    background-color: white;
    width: 70%;
    padding: 25px;
    height: auto;
    border-radius: 50%;
    margin: 30px 15%;
}

.play-agan {
    display: inline-block;
    margin-top: 85px;
    padding: 10px 30px;
    color:red ;
    background-color: white;
    border-radius: 10px;
    
}
 .result-style {
     padding-top: 20px;
     font-size: 36px;
}